<body>
<div id ="chat">
    <div align = "center">
        <label for="userName">Name: </label>
        <input id="userName" [(ngModel)]="User" (keyup.enter)="sendMessage()">
        <br>
        <label for="message">Message: </label>
        <input id="message" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
        <button (click)="sendMessage()">Send Message</button>
    </div>

    <div *ngFor="let message of messageList" align = "center">
        <span>{{message}}</span>
    </div>

</div>



<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/socket.io-client/dist/socket.io.js"></script>
<script src="socketClient.js"></script>
</body>
