<body>
<div id ="chat">
    <div>
        <input [(ngModel)]="User" (keyup.enter)="sendMessage()">
        <input [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
        <button (click)="sendMessage()">Login</button>
    </div>

    <div *ngFor="let message of messageList">
        <span>{{message}}</span>
    </div>

</div>



<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/socket.io-client/dist/socket.io.js"></script>
<script src="socketClient.js"></script>
</body>
